
@import './variables.scss';

.primary-title {
    font-family: $mainFontstyle;
    color: $primaryColor;
}

.section-title
{
  margin:35px auto;
};

.floatLeft {
    float:left;
}

.floatRight {
  float: right;
}

.ta-left{
    text-align: left;
}

.ta-right{
    text-align: right
}

.title {
    color: $primaryColor;
 font-family: $mainFontstyle;
 font-size: 37px;
};


.zigzag-circle-bg {
    width: 60px;
    height: 60px;
    background:#fff ;
  }
  
  .clipped {
    clip-path: polygon(50% 0%, 46.93% 3.1%, 43.47% 0.43%, 40.83% 3.9%, 37.06% 1.7%, 34.89% 5.49%, 30.87% 3.81%, 29.21% 7.85%, 25% 6.7%, 23.89% 10.92%, 19.56% 10.33%, 19.01% 14.66%, 14.64% 14.64%, 14.66% 19.01%, 10.33% 19.56%, 10.92% 23.89%, 6.7% 25%, 7.85% 29.21%, 3.81% 30.87%, 5.49% 34.89%, 1.7% 37.06%, 3.9% 40.83%, 0.43% 43.47%, 3.1% 46.93%, 0% 50%, 3.1% 53.07%, 0.43% 56.53%, 3.9% 59.17%, 1.7% 62.94%, 5.49% 65.11%, 3.81% 69.13%, 7.85% 70.79%, 6.7% 75%, 10.92% 76.11%, 10.33% 80.44%, 14.66% 80.99%, 14.64% 85.36%, 19.01% 85.34%, 19.56% 89.67%, 23.89% 89.08%, 25% 93.3%, 29.21% 92.15%, 30.87% 96.19%, 34.89% 94.51%, 37.06% 98.3%, 40.83% 96.1%, 43.47% 99.57%, 46.93% 96.9%, 50% 100%, 53.07% 96.9%, 56.53% 99.57%, 59.17% 96.1%, 62.94% 98.3%, 65.11% 94.51%, 69.13% 96.19%, 70.79% 92.15%, 75% 93.3%, 76.11% 89.08%, 80.44% 89.67%, 80.99% 85.34%, 85.36% 85.36%, 85.34% 80.99%, 89.67% 80.44%, 89.08% 76.11%, 93.3% 75%, 92.15% 70.79%, 96.19% 69.13%, 94.51% 65.11%, 98.3% 62.94%, 96.1% 59.17%, 99.57% 56.53%, 96.9% 53.07%, 100% 50%, 96.9% 46.93%, 99.57% 43.47%, 96.1% 40.83%, 98.3% 37.06%, 94.51% 34.89%, 96.19% 30.87%, 92.15% 29.21%, 93.3% 25%, 89.08% 23.89%, 89.67% 19.56%, 85.34% 19.01%, 85.36% 14.64%, 80.99% 14.66%, 80.44% 10.33%, 76.11% 10.92%, 75% 6.7%, 70.79% 7.85%, 69.13% 3.81%, 65.11% 5.49%, 62.94% 1.7%, 59.17% 3.9%, 56.53% 0.43%, 53.07% 3.1%);
  }

  .fb-icon {
     color: $fbColor;
  }
  
  .youtube-icon {
      color:$youtubeColor;
  }

  .insta-icon {
      background: $instaColor;
      border-radius: 7px;
  }

.dropDownWrapper .customDrpDwn.small
 {
    min-width: 100px;
    max-width: 100px;
}


.dropDownWrapper .customDrpDwn {
  .css-2b097c-container {
   z-index: 1000;
}
}

.breadcrumb {
    background-color: #f8f9fa !important;
    height: 100%;
}


.btn-wrapper {
     
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    height: 45px;
    outline: none !important;
    border: none;
    background: #F05F69;
    background: linear-gradient(90deg,  rgba(240,95,105,1) 0%, $secondaryColor 100%);
    border-radius: 25px;
    transition: color 4s ease-out;
    box-shadow: 0px 1px 4px -2px #000;

    z-index: 1;
    position: relative;
    
   

    &.big {
        width:100%;
    }

     button{
        transition: linear 1s;
        width:100%;
        height: 50px;
        background:transparent;
        border-color: transparent;
     }
     
     button:hover {
        background-color: transparent;
        border-color: transparent;
     }

     

     button.primary {

        &.small {
           
        }

     }

}

.btn-wrapper:before {
    background: #91a5f4;
    background: linear-gradient(90deg, $secondaryColor 0%, rgba(240,95,105,1)  100%);
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    box-shadow: 0px 1px 4px -2px #000;
    outline: none !important;
    border: none;
    border-radius: 25px;
}
.btn-wrapper:hover:before {
    opacity: 1;
}
.btn-wrapper:hover {
    color: #fff;
}

button:focus {
    outline: none !important;
    outline-offset: none !important;
}


/**  home slider **/

.mainSlider-section {
    .slick-arrow.slick-prev{
        left:30px;
        z-index: 1000;
    }

    .slick-arrow.slick-next{
        right:30px;
        z-index: 1000;
    }

    .slick-prev::before, .slick-next::before {
        font-size: 40px;
        color:$primaryColor;
    }
}


.section-with-bg-header {
    background-image: url("../images/bg_header.jpg");
    background-size: cover;
    padding: 160px;
}

.section-with-bg-content {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  

  
  .btn-wrapper  {
    width:120px;
  }


