

@import 'variables';


.addtoCartBtn{
   display: flex;
}

.cartWrapper {
     padding:20px;
     background:#fff;
     box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;

     .cartWrapper-head{
       background-color: #fff;
       border-bottom: 1px solid #f0f0f0;
     }



     .cartProduct {
      border-bottom: 1px solid #f0f0f0;
      padding: 10px;

            .cartProduct-img{

               img { 
               width: 120px;
               height: 120px;
               }
            }
            
            .product-remove-icon {
               font-size: 35px;
               color: #e60000;
               cursor: pointer;
            }
      
     }
     

    .quantity-handler{
       
         form {
            justify-content: center;
         }
        .quantityInput{
           width:40px;
           margin:5px;
        }
        
       .cartQuantity-icon-plus,  .cartQuantity-icon-minus {
            cursor: pointer;
            border-radius: 50px;
            box-shadow: 2px 2px 10px 0px #ccc;
       } 
        &:hover {
           transition:transform(1.1);
        }
    
    }


    .cartProduct {
       margin-bottom: 30px;
    }

}

.admin-section-wrapper{
  
   .main-wrapper-div {

      background: #fff;
      box-shadow: 0 0 5px rgba(13, 16, 21, 0.19);
      border-radius: 20px;
      background-color: #ffffff;
      margin: 35px 25px 25px 25px;
      padding: 45px;

      &.add-wrapper {
         margin-bottom: 1px;
      }

      .admin-heading-div {
         font-family: $mainFontstyle;
         color: $primaryColor;
      }

      form {
        .form-group {
            text-align:left;
         }

         textarea {
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            padding: 10px;  
            width:100%;       }

         .image_upload {
            cursor: pointer;

           button {
            width: 138px;
            height: 35px;
            border-radius: 3px;
            border: 1px solid #3ba8c5;
            background-color: #ffffff;
            float: left;
            cursor: pointer;
            text-transform: uppercase;
           
          
               input {
                  width: 138px;
                  height: 30px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  opacity: 0;
                  cursor: pointer;
               }

           }
         }   
      }

      .admin-page-btn {
         padding-top: 30px;
         margin: 30px 15px 15px 15px;
         border-top: 1px solid #dfdfdf;
         padding-right: 0;
         width:100%;

         .btn-wrapper {
            float: right;

            button {
               text-transform: uppercase;

            }

            &.delete {
               background:#f05f69 !important;
           }
         }
      }
   }
}

