

@import 'variables';


.addtoCartBtn{
   display: flex;
}

.cartWrapper {
     padding:20px;
     background:#fff;
     box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;

     .cartWrapper-head{
       background-color: #fff;
       border-bottom: 1px solid #f0f0f0;
     }



     .cartProduct {
      border-bottom: 1px solid #f0f0f0;
      padding: 10px;

            .cartProduct-img{

               img { 
               width: 120px;
               height: 120px;
               }
            }
            
            .product-remove-icon {
               font-size: 35px;
               color: #e60000;
               cursor: pointer;
            }
      
     }
     

    .quantity-handler{
       
         form {
            justify-content: center;
         }
        .quantityInput{
           width:40px;
           margin:5px;
        }
        
       .cartQuantity-icon-plus,  .cartQuantity-icon-minus {
            cursor: pointer;
            border-radius: 50px;
            box-shadow: 2px 2px 10px 0px #ccc;
       } 
        &:hover {
           transition:transform(1.1);
        }
    
    }


    .cartProduct {
       margin-bottom: 30px;
    }

}

